.board_cell {
  height: calc(1rem + 3vw);
  width: calc(1rem + 3vw);
  background-color: transparent;
  transition: 500ms;
  cursor: pointer;
}

.board_cell-lit {
  background-color: #fe731c;
  box-shadow: 0 0 5px #fe731c;
}

.board_cell-hint {
  background-color: teal;
  box-shadow: 0 0 5px teal;
}
