.Cell {
  height: calc(1rem + 3vw);
  width: calc(1rem + 3vw);
  background-color: transparent;
  transition: 500ms;
  cursor: pointer;
}

.Cell-lit {
  background-color: #fe731c;
  box-shadow: 0 0 5px #fe731c;
}

.hint {
  animation: hint 1s infinite;
}
@keyframes hint {
  0%,
  100% {
    background-color: transparent;
  }
  50% {
    background-color: #fe731c;
  }
}
